<html>

  <p name="username" id="username">my name</p>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>

<body>
   <h1>Let's chat</h1>

   <div>
      <div id="video-container">
         <div><video id="local-video" autoplay="true" style="float: left; border-radius: 10px;" playsinline></video>
         </div>
      </div>
   </div>

   <script type="text/javascript">


      var mapPeers = {};

      var localStream = new MediaStream();

      const constraints = {
         'video': true,
         'audio': true,
      };

      var localVideo = document.querySelector('#local-video');

      var userMedia = navigator.mediaDevices.getUserMedia(constraints)
         .then(stream => {
            localStream = stream;
            localVideo.srcObject = localStream;
            localVideo.muted = true;
            localVideo.play()
         })
         .catch(error => {
            console.log('error', error)
         })

      var loc = window.location

      let wsStart = 'ws://'

      if (loc.protocol == 'https') {
         wsStart = 'wss://'
      }

      var endPoint = wsStart + loc.host + loc.pathname

      var chatSocket = new WebSocket(endPoint)

      var username = document.getElementById('username')
      chatSocket.onmessage = function (e) {
         console.log('Message Data - ', e)

         var parsedData = JSON.parse(e.data)

         if(parsedData.type === 'name') {
            var labelUsername = document.getElementById('username')
            labelUsername.innerHTML = `${parsedData.name} is my name`
         }

         var peerUsername = parsedData['peer'];
         var action = parsedData['action'];

         //  if(username == peerUsername){
         //     return;
         //  }

         console.log(parsedData)

         var receiver_channel_name = parsedData['message']['receiver_channel_name']


         if (action == 'new-peer') {
            createOfferer(peerUsername, receiver_channel_name);

            return;
         }

         if (action == 'new-offer') {
            var offer = parsedData['message']['sdp'];

            createAnswerer(offer, peerUsername, receiver_channel_name);

            return;
         }

         if(action == 'new-answer'){
            var answer = parsedData['message']['sdp']

            var peer = mapPeers[peerUsername][0];
            peer.setRemoteDescription(answer);

            return;
         }
      }

      chatSocket.onopen = function (e) {
         console.log('Open Data - ', e)
         sendSignal('new-peer', {})
      }

      chatSocket.onerror = function (e) {
         console.log('Error Data - ', e)
      }

      chatSocket.onclose = function (e) {
         console.log('Close Data - ', e)
      }

      function sendSignal(action, message) {
         var jsonStr = JSON.stringify({
            'peer': username,
            'action': action,
            'message': message,

         });
         chatSocket.send(jsonStr)
      }

      function createOfferer(peerUsername, receiver_channel_name) {
         var peer = new RTCPeerConnection(null);

         addLocalTracks(peer);

         var dc = peer.createDataChannel('channel');
         dc.addEventListener('open', () => {
            console.log('Connection opened')
         });

         // dc.addEventListener('message');

         var remoteVideo = createVideo(peerUsername);

         setOnTrack(peer, remoteVideo);

         mapPeers[peerUsername] = [peer, dc];

         peer.addEventListener('iceconnectionstatechange', () => {
            var iceConnectionState = peer.iceConnectionState;

            if (iceConnectionState === 'failed' || iceConnectionState === 'disconnected' || iceConnectionState === 'closed') {
               delete mapPeers[peerUsername];

               if (iceConnectionState != 'closed') {
                  peer.close();
               }

               removeVideo(remoteVideo);
            }
         })

         peer.addEventListener('icecandidate', (event) => {
            if(event.candidate){
               console.log('New Ice Candidate', JSON.stringify(peer.localDescription));
            
               return;
            }
            sendSignal('new-offer', {
               'sdp': peer.localDescription,
               'receiver_channel_name': receiver_channel_name
            });
         });

         peer.createOffer()
            .then(o => peer.setLocalDescription(o))
            .then(() => {
               console.log('Local description set successfully.')
            });
      }


      function createAnswerer(offer, peerUserame, receiver_channel_name) {
         var peer = new RTCPeerConnection(null);

         addLocalTracks(peer);

         var remoteVideo = createVideo(peerUserame);
         setOnTrack(peer, remoteVideo);

         peer.addEventListener('datachannel', e => {
            peer.dc = e.channel;

            peer.dc.addEventListener('open', () => {
               peer.dc = e.channel;
               peer.dc.addEventListener('open', () => {
                  console.log('Connection Opened');
               });
               // peer.dc.addEventListener('message', dcOnMessage);
            });
         });

         mapPeers[peerUserame] = [peer, peer.dc];

         peer.addEventListener('iceconnectionstatechange', () => {
            var iceConnectionState = peer.iceConnectionState;

            if (iceConnectionState === 'failed' || iceConnectionState === 'disconnected' || iceConnectionState === 'closed') {
               delete mapPeers[peerUserame];

               if (iceConnectionState != 'closed') {
                  peer.close();
               }

               removeVideo(remoteVideo);
            }
         });

         
         peer.addEventListener('icecandidate', (event) => {
            if(event.candidate){
               console.log('New Ice Candidate: ', JSON.stringify(peer.localDescription));
            }

            sendSignal('new-answer',{
               'sdp': peer.localDescription,
               'receiver_channel_name': receiver_channel_name
            });
         });

         peer.setRemoteDescription(offer)
         .then(() => {
            console.log('Remote Description Set Successfully for %s', peerUserame)

            peer.createAnswer();
         })
         .then(a => {
            console.log('Answer created');

            peer.setLocalDescription(a);
         })
      }


      function addLocalTracks(peer) {
         localStream.getTracks().forEach(track => {
            peer.addTrack(track, localStream);
         });

         return;
      }


      function createVideo(peerUserame) {
         var videoContainer = document.querySelector('#video-container');

         var remoteVideo = document.createElement('video');

         remoteVideo.id = peerUserame + '-video';

         remoteVideo.autoplay = true;
         remoteVideo.playsInline = true;

         var videoWrapper = document.createElement('div');

         videoContainer.appendChild(videoWrapper);

         videoWrapper.appendChild(remoteVideo);

         return remoteVideo;
      }


      function setOnTrack(peer, remoteVideo) {
         var remoteStream = new MediaStream();

         remoteStream.srcObject = remoteStream;

         peer.addEventListener('track', async (event) => {
            remoteStream.addTrack(event.track, remoteStream);
         });
      }


      function removeVideo(video) {
         var videoWrapper = video.parentNode;

         videoWrapper.parentNode.removeChild(videoWrapper);
      }
   </script>
</body>

</html>